/*

!.gitignore
!.travis.yml
!CHANGELOG.md
!README.md
!LICENSE
!checkstyle.xml
!pom.xml
!build.gradle
!settings.gradle

!messagebar/
messagebar/*
!messagebar/src/
!messagebar/res/
!messagebar/AndroidManifest.xml
!messagebar/pom.xml
!messagebar/build.gradle

!messagebar-samples/
messagebar-samples/*
!messagebar-samples/src/
!messagebar-samples/res/
!messagebar-samples/AndroidManifest.xml
!messagebar-samples/pom.xml
!messagebar-samples/build.gradle

.DS_store
