/*

!.gitignore
!.travis.yml
!CHANGELOG.md
!README.md
!LICENSE
!checkstyle.xml
!pom.xml

!library/
library/*
!library/src/
!library/res/
!library/AndroidManifest.xml
!library/pom.xml

!samples/
samples/*
!samples/src/
!samples/res/
!samples/AndroidManifest.xml
!samples/pom.xml
